
/*
*********************************
*
*   STATE SELECTOR DROPDOWN
*
*********************************
*/


.state-selector{
  position: relative; /* ->containing block */
  float: left;
  height: 30px;
  width: 115px;
  line-height: 30px;
  margin: 7px 0 0 20px;
  .border-radius(3px);
  cursor: pointer;
  color: #333;
  font-size: 16px;
  .state-selector-btn{
    padding: 0 8px;
    p{
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: 600;
    }
    .down-arrow{
      float: right;
      margin-top: 1px;
      opacity: 0.5;
    }
  }
  &.draft-state{
    background: @yellow;
    &:hover{
      background: darken(@yellow, 10%);
    }
  }
  &.public-state, &.private-state, &.api-state{
    background: @green;
    &:hover{
      background: darken(@green, 10%);
    }
  }

}


.state-dropdown{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 14px;
  background: #efefef;
  .border-radius(3px);
  color: @grey;
  ul{
    list-style: none;
    overflow: hidden;
    .border-radius(inherit);
    .box-shadow(0 0 10px rgba(0,0,0,0.5));
    li{
      position: relative; /* ->containing block */
      padding: 10px 10px 10px 70px;
      width: 330px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      &:hover{
        background: darken(#efefef, 5%);
      }
      h3{
        font-weight: 600;
        line-height: 1.2em;
        display: inline-block;  
      }
      h4{
        font-size: 12px;
        line-height: 1.4em;
        color: #666;
      }
    }
  }
  &:before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 85px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom:12px solid #efefef;
  }
}

.state-icon{
  display: inline-block;
}

.state-checkmark{
  position: absolute;
  left: 0;
  width: 70px;
  text-align: center;
  font-size: 30px;
  color: #999;
  margin: auto;
  top: 50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  display: none;
}

.selected-state{
  .state-checkmark{
    display: inline-block;
  }
}

.pro-only-badge{
  display: inline-block;
  background: @grey;
  color: #fff;
  .border-radius(10px);
  padding: 0 6px;
  position: relative;
  top: -2px;
  margin-left: 0.5em;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  vertical-align: middle;
  &:hover{
    color: @blue;
  }
}

.locked-state{
  *:not(.pro-only-badge) {
    opacity: .4;
  }
  cursor: not-allowed;
}




/*
*********************************
*
*   HEADER BUTTONS
*
*********************************
*/


.header-btn{
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 7px 15px 0 0;
  .border-radius(3px);
  cursor: pointer;
  color: #f0f0f0;
  font-size: 12px;
  padding: 0 8px;
  border: 1px solid #111;
  i{
    margin-right: 0.4em;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover{
    color: @blue;
  }
}



/*
*********************************
*
*   VIEW PROJECT PAGE BUTTON
*
*********************************
*/

.view-project-page{
  display: none;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 7px 0 0 20px;
  padding: 0 8px;
  .border-radius(3px);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #111;
  i{
    margin-left: 0.4em;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover{
    color: @blue;
  }
}

/*
*********************************
*
*   PROJECT MENU EDITOR
*
*********************************
*/

ul.project-menu-editor{
  width: 94%;
  margin: 10px auto;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  /*background: #444;*/
  background: #898989;
  color: #222;
  border: 1px solid rgba(0,0,0,.2);
  li{
    display: block;
    position: relative; /* containing block */
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 5px 15px;
    cursor: pointer;
    span{
      float: right;
      font-weight: 100;
      font-size: 10px;
      text-transform: uppercase;
      color: #f0f0f0;
      em{
        font-style: normal;
      }
    }
    i{
      margin-right: 0.5em;
      font-size: 1.2em;
      vertical-align: middle;
    }
    &:hover{
      background: darken(#898989, 5%);
      color: #f0f0f0;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}

.locked-menu-option{
  opacity: .3;
  border-bottom: 1px solid rgba(0,0,0,.6) !important;
  span{
    display: none;
  }
  &:hover{
    background: #898989 !important;
    color: #222 !important;
  }
  
}




/*
*********************************
*
*   API PROJECT MENU EDITOR
*
*********************************
*/


.build-dashboard{
  width: 94%;
  margin: 10px auto;
  .clearfix;
  p{
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    text-align: left;
    a{
      color: #f0f0f0;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


.build-btn{
  width: 45%;
  float: left;
  margin-right: 5%;
  height: 48px;
  line-height: 48px;
  background: #c9c9c9;
  text-align: center;
  color: #222;
  .border-radius(3px);
  cursor: pointer;
  font-weight: 600;
  &:hover{
    background: #17C7FF;
  }
}

.api-action{
  display: none;
  width: 94%;
  height: 36px;
  line-height: 36px;
  margin: 10px auto;
  background: #c9c9c9;
  text-align: center;
  color: #222;
  .border-radius(3px);
  cursor: pointer;
  font-weight: 600;
  &:hover{
    background: #17C7FF;
  }
}




  
    
/*
**********************************************
*
*   GENERATE THUMBNAIL SHORTCUT ON SCENE
*
*   NOT USED
*
**********************************************
*/


/*.generate-thumbnail-shortcut{

  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  height: 30px;
  line-height: 30px;
  .border-radius(3px);
  cursor: pointer;
  color: rgba(255,255,255,.9);
  font-size: 12px;
  padding: 0 8px;
  border: 1px solid rgba(255,255,255,.9);
  .text-shadow(rgba(0,0,0,8));
  i{
    margin-right: 0.4em;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover{
    background: rgba(255,255,255,.9);
    color: #111;
    .text-shadow(rgba(0,0,0,0));
  }

}
*/









/*
*********************************
*
*   SHOTS PANEL
*
*********************************
*/


.shots-panel{
  position: absolute;
  z-index: 2;
  max-width: 66%;
  bottom: 10px;
  left: 30px;
  padding: 5px;
  color: #fff;
  
  ul{
    .clearfix;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    li{
      display: inline-block;
      height: 62px;
      cursor: pointer;
      border: 1px solid #fff;
      .box-shadow(0 0 10px rgba(0,0,0,.5));
      img{
        height: 60px;
      }
      &.selected, &:hover{
        border: 1px solid @blue;
      }
      &:last-child{
        position: relative; /* -> containing block */
        line-height: 60px;
        font-size: 24px;
        width: 40px;
        margin-right: 0;
        background: rgba(0,0,0,0.5);
        .text-shadow(rgba(0,0,0,8));
        &:hover{
          border-color: @blue;
          color: @blue;
        }
        i{
          margin: auto;
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%,0);
              -ms-transform: translate(-50%,0);
                  transform: translate(-50%,0);

        }
      }
    }
  }
  .shots-chevron{
    position: absolute;
    height: 62px;
    line-height: 62px;
    font-size: 24px;
    cursor: pointer;
    .text-shadow(rgba(0,0,0,8));
    &:hover{
      color: @blue;
    }
    &.chevron-left{
      right: 101%;
    }
    &.chevron-right{
      left: 101%;
    }
  }
}



