

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* this way images (and the other fixed-width elements) never display larger than their containers */
img,embed,object,video,iframe{
  max-width:100%;  
}

.clearfix {
  *zoom: 1; /* IE 6/7 support */
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

html, html a {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


body {
  font: 400 16px/1.2em @sans-serif-font;
  color: #222;
  background: #324449; 
}


h1, h2, h3, h4, h5, h6{
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}


ul{
  padding: 0;
  margin: 0;
  list-style: none;
}


a{
  text-decoration: none;
}

.sample{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/sample.png) no-repeat center center;
  background-size: cover;
}

header{
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: #333;
  border-bottom: 1px solid #111;
  padding-left: 60px;
  h1{
    color: #fff;
    line-height: 44px;
    font-size: 18px;
    font-weight: 100;
    float: left;
  }
}

.logo-wrapper{
  position: absolute;
  left: 0;
  background: #222;
  height: 100%;
  width: 44px;
  text-align: center;
  padding: 3px 6px;
}



.scene-container{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 320px;
  padding-top: 44px;
}


.scene{
  position: relative;
  width: 100%;
  height: 100%;
}


.sidebar{
  position: absolute;
  z-index: 10;
  width: 320px;
  top: 44px;
  bottom: 0;
  right: 0;
  /*background: #444;*/
  background: #898989;
}



ul.sidebar-tabs{
  list-style: none;
  .clearfix;
  background: #1f1f1f;
  /*border-bottom: 1px solid #1f1f1f;*/
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
  font-size: 14px;
  li{
    height: 50px;
    line-height: 50px;
    float: left;
    width: 50%;
    cursor: pointer;
    i{
      margin-right: .5em;
    }
    &.selected-tab{
      /*background: #444;*/
      background: #898989;
      /*color: @blue;*/
      color: #fff;
    }
    &:hover{
      /*color: @blue;*/
      color: #fff;
    }
  }
}

.thumbnail{
  position: relative; /* -> containing block */
  margin: 10px auto;
  width: 94%;
  i{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    .text-shadow(rgba(0,0,0,8));
    font-size: 24px;
    cursor: pointer;
  }
}




.camera-preview{
  z-index: 1;
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 19%;
  max-width: 220px;
}



.dialog-bg {
  display: none;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0px, 0px, 0px);
  z-index: 5000;  
}


.dialog-box{
  backface-visibility: hidden;
  background-color: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #464341;
  cursor: default;
  left: 50%;
  margin-bottom: 40px;
  margin-left: -262.5px;
  margin-top: -15%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate3d(0px, 0px, 0px);
  width: 525px;
  z-index: 1000;
  .dialog-title{
    color: #222;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .dialog-message{
    color: #464341;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
    p{
      margin: 20px 0;
    }
  }
  .dialog-yes {
    margin-right: 10px;
    background-color: #049cdb;
    border-radius: 0;
    color: white;
    display: inline-block;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 10px 20px;
    width: auto;
    border: 0 none;
  }
  .dialog-no{
    border: 0 none;
    color: #999;
    margin-left: 1em;
  }
  label{
    margin-right: .5em;
  }
  option{
    padding: 1em;
  }
  select{
    background: #efefef;
    padding: 0 1em; 
    cursor: pointer;
    height: 40px;
    width: 40%;
    border: 0 none;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}


